<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

        <main class="main">
            <section class="banner">
                <div class="wrapper">
                    <div class="working-time">

                    </div>
                    <div class="info">
                        <p class="sub-title"></p>
                        <h1 class="title"></h1>
                        <div class="btn-items">
                            <div class="btn btn-bg"></div>
                            <div class="btn btn-border"></div>
                        </div>
                        <div class="btn-down">
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="social-items">
                        <div class="social-item">
                            <a href=""></a>
                        </div>
                        <div class="social-item">
                            <a href=""></a>
                        </div>
                        <div class="social-item">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-us">
                <div class="wrapper">
                    <div class="info cl-black">
                        <h2 class="title-section"></h2>
                        <div class="desc">
                            <p class="sub-title-section"></p>
                            <p></p>
                        </div>
                    </div>
                    <div class="img"></div>
                </div>
            </section>
            <section class="our-team">
                <div class="wrapper">
                    <div class="img"></div>
                    <div class="info cl-white">
                        <h3 class="title-section"></h3>
                        <p class="sub-title-section"></p>
                        <p></p>
                    </div>
                </div>
            </section>
            <section class="book">
                <div class="wrapper">
                    <div class="info">
                        <p class="title-section cl-black"></p>
                        <form action="" class="book-form" id="bookForm">
                            <div class="input-box"><input type="text"><label for=""></label></div>
                            <div class="select-box"><select name="" id=""></select><label for=""></label></div>
                            <button class="btn btn-bg"></button>
                        </form>
                    </div>
                    <div class="img"></div>
                </div>
                <p class="desc"></p>
            </section>
            <section class="specialties">
                <div class="wrapper">
                    <div class="img"></div>
                    <div class="info cl-white">
                        <h3 class="title-section"></h3>
                        <p class="sub-title-section"></p>
                        <p></p>
                    </div>
                </div>
            </section>
            <section class="menu">
                <div class="wrapper-vertical cl-black">
                    <h3 class="title-section"></h3>
                    <p class="sub-title-section"></p>
                    <div class="tab-wrapper">
                        <div class="tab-header">
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                            <div class="tab-header-item"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-conten-item-wrapper">
                                <div class="tab-item-element">
                                    <div class="left">
                                        <p class="item-title"></p>
                                        <p class="item-sub-title"></p>
                                    </div>
                                    <div class="right">
                                        <p class="item-price"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="events">
                <p class="section-label"></p>
                <div class="wrapper">
                    <div class="img wrapper">
                        <div class="img"></div>
                        <div class="title-img"></div>
                    </div>
                </div>
                <p class="desc"></p>
            </section>
            <section class="gallery"></section>

        </main>

        <%= _.template(require('./../includes/footer.html').default)(data) %>